.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana, Geneva, sans-serif;
}

body
{
  background-image: url("../static/a.png");
  background-size:120%;
  color:#e0e4e8;

}

.action-button {
    background-color: #4CAF50; /* Set the background color */
    color: rgb(0, 0, 0); /* Set the text color */
    padding: 10px 20px; /* Adjust the padding to your preference */
    border: none; /* Remove the border */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #45a049; /* Change the background color on hover */
  }
  
  .action-button:active {
    background-color: #3e8e41; /* Change the background color when the button is active/pressed */
  }
  .num-rows-input {
    padding: 8px;
    border: 1px solid #e8a2a2;
    border-radius: 4px;
    font-size: 13px;
    width: 80px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid #e8a2a2;
  border-radius: 4px;
  font-size: 13px;
  width: 80px;
  margin-bottom: 8px;
}

.action-button {
  padding: 8px 16px;
  background-color: #48034e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #d58080;
}


table {
  width: 60%; /* Adjust the width as per your preference */
  margin: 0 auto; /* Center the table horizontally */
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
}

th {
  background-color: #ffffff;
  color: #000000;
}

p {
  font-size: 16px;
  color: #ffffff;
}

h1 {
  text-align: center;
}

h1 i {
  margin-right: 10px;
}

#anomaly-plot {
  display: block;
  margin: 0 auto;
}

/* Center the table */
table {
  margin: 0 auto;
}

#anomaly-plot-heading {
  color: #66e0eb;
}

#highest-outlier-heading {
  color:  #ffffff;;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
span.anomalous-customer {
  color: red;
  font-weight: bold;
}

span.non-anomalous-customer {
  color: green;
  font-weight: bold;
}

 /* CSS styles for the legend box */
 /* .legend-box {
  position: absolute;
  top: 800px;
  right: 10px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color:#000000;
}

.legend-item {
  margin-right: 10px;
  color:#000000;
  font-weight: bold;
}

.anomaly-color {
  background-color: #e5bebe;
  color:#000000;
  font-weight: bold;
}

.non-anomaly-color {
  background-color: #c4e7c4;
  color:#000000;
  font-weight: bold;
} */

.legend-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right side */
  border: 1px solid #ccc; /* Add a border with 1px width and #ccc color */
  padding: 2px; /* Add padding for better visual appearance */
}

.legend-item {
  margin: 5px 0;
  font-size: 14px;
}

.anomaly-color {
  color: red;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.non-anomaly-color {
  color: green;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
