/* body {
  display: flex;
  align-items: center; /* Center vertically 
  justify-content: center; /* Center horizontally 
  background-image: url("../static/resultbackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  display: flex;
  height: 100vh; 
  text-align: center;
}

.task {
  flex: 1;
}

.task-link {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 15px;
  transition: background-color 0.3s;
}

.task-link:hover {
  background-color: #ccc;
}

.task-description {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

h1{
  color: aliceblue;
}