body {
  background-image: url("../static/a.png");
  background-repeat: no-repeat;
  background-size: 120%;
  color: aliceblue;
  align-items: center;
  justify-content: center;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e0e4e8;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  color: white;
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

form > * {
  margin-right: 10px; /* Adjust the value as needed */
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto; /*cause the table to center */
  text-align: center;
  color: #000000;
  font-weight: bolder;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  justify-content: center;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid white;
  text-align: center;
}

th {
  background-color: #000000;
  color: #fffbfb;
  /* font-weight: bolder; */
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9fff9;
  text-align: center;
}

tr:nth-child(odd) {
  color: #ccc;
  text-align: center;
}


tr:hover {
  background-color: #777;
}

p {
  margin: 5px 0;
}

/* h2 {
  margin-top: 20px;
  padding-top: 20px;
  font-size:18px;
  color: #7ed781;
  font-family:Arial, Helvetica, sans-serif;
} */

h2 {
  margin-top: 20px;
  padding-top: 20px;
  font-size: 18px;
  color: #f0cc16fe;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Custom styles for the Choose File button */
input[type="file"] {
  background-color: #eaf2f8;
  color: #333;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Custom styles for the Upload button */
input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:focus {
  background-color: #337ab7;
  color: #fff;
  /* Add any other desired hover/focus styles here */
  outline: none; /* Remove the default focus outline if desired */
}

.model1 {
  color: red;
  font-family: Verdana, Geneva, sans-serif;
}

.model2 {
  color: blue;
  font-family: Verdana, Geneva, sans-serif;
}

.custom-select {
  /* Add your custom styles here */
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  background-color: #f1f1f1;
  width: 100px;
}

.slider-container {
  margin-top: 20px;
}

#row-slider {
  width: 300px;
}

#row-value {
  display: inline-block;
  margin-left: 10px;
}

/* Using an ID */
#metrics-container h2 > p {
  color: blue;
  font-size: 16px;
  /* Add more styles as needed */
}

/* Using a class */
.metrics-section h2 > p {
  color: blue;
  font-size: 16px;
  /* Add more styles as needed */
}

#metrics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.fraud-button {
  position: absolute;
  padding: 10px 20px;
  top: 10px;
  right: 10px;
  background-color: #e0e4e8;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
}

.fraud-button:hover {
  background-color: #e1f98b;
}