<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/anomaly.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Anomaly Detection</title>
</head>
<body>
    <a href="{{ url_for('prediction') }}" class="back-button">Back</a> 
    <h1><i class="fas fa-chart-line"></i> Anomaly Detection</h1>

    <form action="/anomaly" method="POST">
        <label for="num_rows">Specify the number of customers with the highest outlier score you wish to investigate.</label>
        <input type="number" id="num_rows" name="num_rows" min="1">
        <input type="submit" value="Launch the Isolation Forest Algorithm" class="action-button" onclick="showAnomalyPlot()">
    </form>

    <p id="loading-text" style="display: none">Customers' outlier score loading.........</p>
    

    <br><br>

    {% if show_plot %}
    <h2 id="anomaly-plot-heading" style="display: none">Anomaly Plot height="200" width="300"</h2>
    <div style="display: flex; justify-content: center;">
        <img src="data:image/png;base64,{{ plot_data }}" alt="Anomaly Plot">
    </div>

    <script>
        function showAnomalyPlot() {
            var plotHeading = document.getElementById('anomaly-plot-heading');
            var plotImage = document.getElementById('anomaly-plot');
            var loadingText = document.getElementById('loading-text');
    
            plotHeading.style.display = 'block';
            plotImage.style.display = 'block';
            loadingText.style.display = 'block';
    
            setTimeout(function() {
                loadingText.style.display = 'none';
            }, 2000); // Adjust the timeout duration as needed
        }
    </script>

    {% endif %}

<br><br><br>
{% if highest_outlier_customers %}
<h3 id="highest-outlier-heading">Customers with Highest Outlier Scores</h3>
<table>
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Amount</th>
            <th>Outlier Score</th>
            <th>Anomaly Value</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(highest_outlier_customers|length) %}
        <tr>
            <td>{{ highest_outlier_customers[i] }}</td>
            <td>{{ amounts[i] }}</td>
            <td>{{ outlier_scores[i] }}</td>
            <td>{{ anomaly_values[i] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<!-- <p>Customers' outlier score loading.........</p> -->
{% endif %}
</body>
</html>