<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/anomaly.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Anomaly Detection</title>
</head>
<body>
    <a href="{{ url_for('prediction') }}" class="back-button">Back</a> 
    <h1>Anomaly Detection</h1>

    <!-- <form action="/anomaly" method="POST">
        <input type="submit" value="Launch the Isolation Forest Algorithm" class="action-button" onclick="showAnomalyPlot()">
    </form> -->
    <form action="/anomaly" method="POST">
        <label for="num_rows">Number of Rows to Retrieve:</label>
        <input type="number" id="num_rows" name="num_rows" min="1">
        <input type="submit" value="Launch the Isolation Forest Algorithm" class="action-button" onclick="showAnomalyPlot()">
    </form>
    

    <h2 id="anomaly-plot-heading" style="display: none">Anomaly Plot:</h2>
    {% if show_plot %}
    <img src="{{ url_for('static', filename='anomaly_plot.png') }}" alt="Anomaly Plot" id="anomaly-plot" style="display: none">
    {% endif %}
   
    {% if show_plot %}
    <img src="data:image/png;base64,{{ plot_data }}" alt="Anomaly Plot">
    {% endif %}

    <script>
        function showAnomalyPlot() {
            var plotHeading = document.getElementById('anomaly-plot-heading');
            var plotImage = document.getElementById('anomaly-plot');
            plotHeading.style.display = 'block';
            plotImage.style.display = 'block';
        }
    </script>

<h2>Customers with Highest Outlier Scores:</h2>
{% if highest_outlier_customers %}
<table>
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Amount</th>
            <th>Outlier Score</th>
            <th>Anomaly Value</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(highest_outlier_customers|length) %}
        <tr>
            <td>{{ highest_outlier_customers[i] }}</td>
            <td>{{ amounts[i] }}</td>
            <td>{{ outlier_scores[i] }}</td>
            <td>{{ anomaly_values[i] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No customers with outlier scores available.</p>
{% endif %}


<!-- <h2>Customers with Highest Outlier Scores:</h2>
{% if highest_outlier_customers %}
<table>
    <thead>
        <tr>
            <th>Customer Name</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in highest_outlier_customers %}
        <tr>
            <td>{{ customer }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No customers with outlier scores available.</p>
{% endif %} -->
    <!-- <h2>Classification Report:</h2>
    {% if report %}
    <div id="classification-report">
        <pre id="report" style="display: none">{{ report | tojson }}</pre>
        <button onclick="viewClassificationReport()">View Classification Report</button>
    </div>
    {% else %}
    <p>No classification report available.</p>
    {% endif %}

    <script>
        function viewClassificationReport() {
            var reportElement = document.getElementById('report');
            var classificationReport = JSON.parse(reportElement.textContent);
            alert(JSON.stringify(classificationReport, null, 4));
        }
    </script> -->
</body>
</html>