<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/monitor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="../static/result.js"></script>
</head>
<body>
    <a href="{{ url_for('prediction') }}" class="back-button">Back</a>
    <p id="form-section"></p>
    <h2>
        <i class="fas fa-chart-line"></i>
        Customer Transaction Monitoring
    </h2>
    <form class="form1" action="{{ url_for('monitor') }}" method="get">
        <label for="searchType" class="input-label">Customer type</label><br>
        <select name="searchType">
            <option value="nameOrig">Sender</option>
            <option value="nameDest">Recipient</option>
        </select><br>
        <label for="searchValue" class="input-label">Customer ID</label><br>
        <input type="text" name="searchValue" id="searchValue">
        <input type="submit" value="Submit" class="form1-submit">
    </form>
    <br><br><br>

    <div id="error-message" class="error-message">
        <script>
            document.querySelector('.form1').addEventListener('submit', function(event) {
                var searchValue = document.getElementById('searchValue').value;
                var numericRegex = /^[0-9]+$/;
        
                if (!numericRegex.test(searchValue)) {
                    event.preventDefault(); // Prevent form submission
                    var errorMessage = document.getElementById('error-message');
                    errorMessage.textContent = 'Wrong input format';
                    errorMessage.style.display = 'block';
                }
            });
        </script>
        </div>

    {% if data %}
    <h2>
        <i class="fas fa-list-alt"></i>
        Customer Activity Logs
    </h2>

    <table>
        <thead>
            <tr>
                <th>Step</th>
                <th>Amount</th>
                <th>Old Balance Orig</th>
                <th>New Balance Orig</th>
                <th>Old Balance Dest</th>
                <th>New Balance Dest</th>
                <th>Is Flagged Fraud</th>
                <th>Type</th>
                <th>Name Dest</th>
                <th>Name Orig</th>
                <th>Is Fraud</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[9] }}</td>
                <td>{{ row[10] }}</td>
                <td>{{ row[11] }}</td>
            </tr>
            {% if row[10] == 1 %}
            <tr>
                <td colspan="12">
                    <script>
                        window.addEventListener('DOMContentLoaded', (event) => {
                            var response = confirm("Fraudulent Transaction Detected! Investigate further?");

                            if (response) {
                                // User clicked "OK" or "Yes"
                                // Perform further actions as needed
                            } else {
                                // User clicked "Cancel" or "No"
                                // Handle the cancellation logic here
                            }
                        });
                    </script>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <br><br>

    {% if bar_chart %}
    <h2>
        <i class="fas fa-chart-bar"></i>
        Transaction Fraud Distribution
    </h2>
    <div class="chart-container">
        <img src="data:image/png;base64,{{ bar_chart }}" alt="Transaction Fraud Distribution" class="chart-image" />
    </div>
    {% endif %}

    <br><br>

    {% if pie_chart %}
    <h2>
        <i class="fas fa-chart-pie"></i>
        Transaction Type Distribution
    </h2>
    <div class="chart-container">
        <img src="data:image/png;base64,{{ pie_chart }}" alt="Transaction Type Distribution" class="chart-image" />
    </div>
    {% endif %}
<!-- 
    {% if recipients_counts %}
    <h2>
        <i class="fas fa-chart-bar"></i>
        Recipient Transaction Counts
    </h2>
    <div class="chart-container">
        <img src="data:image/png;base64,{{ generate_recipient_chart_image(recipients_counts) }}" alt="Recipient Transaction Counts" class="chart-image" />
    </div>
{% endif %} -->

</body>
</html>
