<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
    <link rel="stylesheet" type="text/css" href="../static/upload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <a href="{{ url_for('prediction') }}" class="back-button">Back</a> 
    <a href="{{ url_for('anomaly') }}" class="fraud-button" style="position: absolute; top: 10px; right: 10px;">Next</a>

    <h2><i class="fas fa-upload logo"></i>     Upload your CSV</h2>


    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <select name="selected_model" class="custom-select" style="width: 200px;">
            <option value="modelnew" class="model1">LSTM</option>
            <option value="cnnlstm" class="model2">Hybrid CNN-LSTM</option>
        </select>
        <input type="submit" value="Upload">
    </form>

    {% if results %}
    <h2><i class="fas fa-search logo"></i>     Prediction results </h2>
    <table>
        <tr>
          <th>Prediction</th>
          <th>True Value</th>
          <th>Result</th>
        </tr>
        {% for result in results[:10] %}
        <tr>
          <td>{{ result[0] }}</td>
          <td>{{ result[1] }}</td>
          <td>{% if result[0] == result[1] %}<span style="color: green;">&#10004;</span>{% else %}<span style="color: red;">&#10008;</span>{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}

    {% if metrics %}
    <!-- <h2>Evaluation Metrics</h2> -->
    <h2 id="metrics-title"><i class="fas fa-chart-line logo"></i>    Evaluation Metrics</h2>

    <div id="metrics-container">
    <p>Precision: {{ metrics.precision }}</p>
    <p>Recall: {{ metrics.recall }}</p>
    <p>F1-Score: {{ metrics.f1_score }}</p>
    {% endif %}
    </div>

    {% if confusion %}
    <h2><i class="fas fa-th-large logo"></i>     Confusion Matrix </h2>

    <table>
        <tr>
            <th></th>
            <th>Predicted 0</th>
            <th>Predicted 1</th>
        </tr>
        {% for i, row in enumerate(confusion) %}
        <tr>
            <th>Actual {{ i }}</th>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>

 

